.inputWraper {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(106, 130, 153);
}

.inputSearch {
  padding: 6px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-right: 16px;
}

.inputSearch:focus {
  border: 1px solid blue;
}

.searchBtn {
  color: aliceblue;
  font-weight: bold;
  background-color: rgb(74, 114, 151);
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: all 300ms ease;
}

.searchBtn:hover {
  background-color: rgb(58, 107, 153);
}
